<section>
    <h2>{{title}}</h2>
    <h3>{{institution}}</h3>
    <div class="row">
    <div class="col-sm-6">
        <h4>{{startDate}} to {{endDate}}</h4>
    </div>
    <div class="col-sm-6">
        <h4>{{location}}</h4>
    </div>
    </div>
    <ul>
    {{#notes}}
    <li>{{note}}</li>
    {{/notes}}
    </ul>
</section>
